<div class="container">
    <div class="row">
        <h2>Lorem, ipsum.</h2>
        
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium minima in libero consequuntur nemo doloremque perspiciatis ab, dolore quia! Nemo!
        </p>
    </div>
    <div class="row">
        <h2>Aperiam, hic.</h2>
        
        <p>
        Fuga est aliquid debitis culpa maiores adipisci consequatur esse, provident ullam architecto, natus repudiandae quis accusamus nesciunt pariatur tempora tempore?
        </p>
    </div>
    <div class="row">
        <h2>Cum, repellendus!</h2>
        
        <p>
        Animi doloremque delectus nesciunt sed sint voluptatibus soluta at dolore obcaecati. Molestiae soluta nulla corrupti aperiam nam, quia minima explicabo?
        </p>
    </div>
    <div class="row">
        <h2>Aliquam, expedita.</h2>
        
        <p>
        Consectetur, quam nemo atque obcaecati modi quaerat ipsa fuga, sequi neque in dolorum deleniti error. Iusto tempora distinctio nobis nisi.
        </p>
    </div>
    <div class="row">
        <h2>In, necessitatibus!</h2>
        
        <p>
        Reiciendis deserunt et neque tempora assumenda reprehenderit minus, id hic aliquam optio saepe corporis suscipit doloribus incidunt ea maiores architecto.
        </p>
    </div>
</div>